# Our internal files folder
#INTERNAL/
# Thumbnails
._*
# OSX
.DS_Store
.AppleDouble
.LSOverride
# Windows 
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
.Spotlight-V100
.Trashes

# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
#*.xml
#*.csv

# KiCAD useless
#*-backups/
#@eaDir/      
CAD/V1.0/\#auto_saved_files\#
CAD/V1.0/~ESP-PLC-Relay-Extension-Module-Hardware-Design.kicad_sch.lck
